.tags {
  text-align: center;
  /* padding: 20px 0px; */
  /* background-color: rgb(43, 92, 226); */
}

.tag {
  outline: none;
  border: none;
  color: #eee;
  margin: 0px 10px;
  background-color: transparent;
  cursor: pointer;
}

.active {
  font-weight: bold;
  background-color: #4b174b;
  color: white;
}
.img_container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media only screen and (max-width: 1024px) {
  .img_container {
    grid-template-columns: repeat(2, 1fr);
    width: inherit;
  }
}

.image_card {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.image {
  width: 100%;
}
